footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #1F1D2B;
    position: fixed;
    bottom: 0px;
    height: 8vh;
}
footer button i {
    color: #B7B3BD;
}
