<footer color="accent">
    <button type="button" mat-icon-button routerLink='/paginas/home'>
        <img src="assets/img/home (1).svg">
    </button>
    <button type="button" mat-icon-button (click)="aviso()">
        <img src="assets/img/address-book.svg">
    </button>
    <button type="button" mat-icon-button routerLink="/paginas/registro">
        <img src="assets/img/add-document.svg">
    </button>
    <button type="button" mat-icon-button mat-icon-button (click)="sair()">
        <img src="assets/img/exit.svg">
    </button>
</footer>