<main class="main">
    <section class="container">
        <h1>Atualizar marcação</h1>
        <section class="form">
            <form class="forms" #formulario="ngForm">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Nome da Obra</mat-label>
                    <input type="text" matInput name="nome" [(ngModel)]="tarefa.nome" required maxlength="25">
                </mat-form-field>

                <section class="epi">
                    <button mat-mini-fab aria-label="Example icon button with a menu icon" (click)="decreaseValue()">
                        <mat-icon>remove</mat-icon>
                    </button>
                    <mat-form-field class="inputEpi" appearance="outline">
                        <mat-label>Episódio</mat-label>
                        <input type="number" matInput name="value" [(ngModel)]="value" required>
                    </mat-form-field>
                    <button mat-mini-fab aria-label="Example icon button with a menu icon" (click)="incrementValue()">
                        <mat-icon>add</mat-icon>
                    </button>
                </section>

                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Temporada</mat-label>
                    <input type="number" matInput name="temporada" [(ngModel)]="tarefa.temporada">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Gênero</mat-label>
                    <select matNativeControl required name="lancamento" [(ngModel)]="tarefa.lancamento">
                        <option>Selecione o Gênero</option>
                        <option value="Livros">Livros</option>
                        <option value="Quadrinhos">Quadrinhos</option>
                        <option value="Séries">Séries</option>
                    </select>
                </mat-form-field>
                <section class="site">
                    <mat-form-field class="formSite" appearance="outline">
                        <mat-label>Insira o link do site aqui</mat-label>
                        <input type="text" matInput name="site" [(ngModel)]="tarefa.site">
                    </mat-form-field>
                    <button mat-raised-button><a [href]="[tarefa.site]">Ir</a></button>
                </section>
            </form>
            <section class="button">
                <section class="upload">
                    <label for="foto"></label>
                    <input type="file" class="upload-photo" (change)="uploadFile($event)">
                </section>
                <mat-progress-bar mode="indeterminate" value="40" *ngIf="isLoadUpload"></mat-progress-bar>
                <button mat-raised-button (click)="atualizarTarefa(formulario)">Atualizar</button>
            </section>
        </section>
        <section class="checked">
            <mat-checkbox [(ngModel)]="checked" >Marque para apagar essa marcação.</mat-checkbox>
            <button mat-fab (click)="apagarMarcacao()" *ngIf="checked == true">
                <mat-icon>delete</mat-icon>
            </button>
        </section>
    </section>
</main>
<app-footer></app-footer>