<app-header></app-header>
<div class="container">
    <div class="main">
        <div id="card" class="table-container mat-elevation-z8" tabindex="0" *ngFor="let tarefa of tarefas">
            <a [routerLink]="['/paginas/registro/editar/', tarefa.id]">
                <div class="cardItens">
                    <img [src]=" tarefa.imagem || 'src/assets/img/img.jpg' ">
                    <h2 class="titulo">{{tarefa.nome}}</h2>
                    <h3 class="subtitulo">Epi: {{tarefa.episodio}}</h3>
                </div>
            </a>
        </div>
        <div id="card" class="table-container mat-elevation-z8" tabindex="0">
            <a routerLink="/paginas/registro">
                <div class="add">
                    <img src="https://cdn-icons-png.flaticon.com/512/1265/1265780.png">
                </div>
            </a>
        </div>
    </div>
</div>
<app-footer></app-footer>