<app-header></app-header>
<section class="container">
    <main class="main">
        <article id="card" class="table-container mat-elevation-z8" tabindex="0" *ngFor="let tarefa of tarefas">
            <a [routerLink]="['/paginas/registro/editar/', tarefa.id]">
                <section class="cardItens">
                    <img [src]=" tarefa.imagem || 'src/assets/img/img.jpg' ">
                    <h2 class="titulo">{{tarefa.nome}}</h2>
                    <h3 class="subtitulo">Epi: {{tarefa.episodio}}</h3>
                </section>
            </a>
        </article>
        <section id="card" class="table-container mat-elevation-z8" tabindex="0">
            <a routerLink="/paginas/registro">
                <section class="add">
                    <p>+</p>
                </section>
            </a>
        </section>
    </main>
</section>
<app-footer></app-footer>