@media screen and (max-width: 767px) {
    #login-container {
        min-height: 90vh;
        max-height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #8F869E;
    }

    #login-container h1 {
        font-size: 4vh;
        padding-bottom: 2vh;
    }

    .login-form {
        padding-top: 2vh;
        width: clamp(300px, 90%, 800px);
        background: #e3deea;
        border-radius: 30px;
        box-shadow: 0 0 30px #a8a4a4;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 85vw;
        height: 70vh;
        margin-top: 5vh;
    }

    .form {
        display: flex;
        flex-direction: column;
        width: 75vw;
        height: auto;
        background-color: #e3deea;
    }

    .login-form button {
        width: 100%;
        height: 10vh;
        background-color: #1F1D2B;
        color: #B7B3BD;
        border-radius: 10px;
        border: none;
        box-shadow: 0 0 10px #7b7b7b;
        font-size: 5vw;
    }

    mat-form-field {
        width: 74vw;
        margin-top: 2vh;
    }

    .google {
        margin-bottom: 3vh;
    }

    .entrar {
        margin-bottom: 3vh;
    }

    #login-container span a {
        text-decoration: none;
        font-weight: bold;
        color: #6A6A6A;
    }

    .login-form input,
    .login-form button {
        font-size: 5vw;
    }

    .google button img {
        width: 9vw;
    }
}

@media screen and (min-width: 768px) {
    #login-container {
        height: 74vh;
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 6vh;
        padding-bottom: 10vh;
        background-color: #8F869E;
    }

    #login-container h1 {
        font-size: 4vh;
        padding-bottom: 2vh;
    }

    .login-form {
        width: 50%;
        background: #e3deea;
        border-radius: 30px;
        box-shadow: 0 0 30px #a8a4a4;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 4vh 3vh;
    }

    .form {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        background-color: #e3deea;

    }

    .login-form button {
        width: 100%;
        height: 60px;
        background-color: #1F1D2B;
        color: #B7B3BD;
        border-radius: 10px;
        border: none;
        box-shadow: 0 0 10px #7b7b7b;
        font-size: 2vh;
        margin-top: 2vh;
    }

    mat-form-field {
        width: 100%;
        margin-top: 2vh;
    }

    .google {
        margin-bottom: 3vh;
    }

    .entrar {
        margin-bottom: 3vh;
    }

    #login-container span a {
        text-decoration: none;
        font-weight: bold;
        color: #6A6A6A;
    }

    .login-form input,
    .login-form button {
        font-size: 2vh;
    }

    .google button img {
        width: 4vh;
        height: auto;
        margin-right: 1vw;
    }
}

h1 {
    color: #1F1D2B;
}