* { 
    padding: 0;
    margin: 0;
}

#login-container {
    height: auto;
    width: 100%;
    background: #E6E6E6;
    display: flex;
    justify-content: center;
}

#login-container h1 {
    font-size: 4vh;
    padding-bottom: 2vh;
}

.login-form {
    padding-top: 2vh;
    width: clamp(300px, 90%, 800px);
    background: #FFFFFF;
    border-radius: 30px;
    box-shadow: 0 0 30px #a8a4a4;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85vw;
    height: 65vh;
    margin-top: 8vh;
}

.form {
    display: flex;
    flex-direction: column;
    width: 75vw;
    height: 100%;
}

.login-form button {
    width: 100%;
    height: 60px;
    background-color: #6B98F1;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px #7b7b7b;
    font-size: 10vw;
}

mat-form-field {
    width: 74vw;
    margin-top: 2vh;
}

.google {
    margin-bottom: 3vh;
}

.entrar {
    margin-bottom: 3vh;
}

#login-container span a {
    text-decoration: none;
    font-weight: bold;
    color: #6A6A6A;
}

.login-form input,
.login-form button {
    font-size: 5vw;
}

.google button img {
    width:9vw;
}