<main class="main">
    <section class="container">
        <h1>Insira o nome de Usuario</h1>
        <section class="form">
            <form #formulario="ngForm">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>ID:</mat-label>
                    <input type="text" matInput name="id" [(ngModel)]="usuario.id" readonly>
                </mat-form-field>
            </form>
            <form>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Nome de Usuário</mat-label>
                    <input type="text" matInput name="nome" [(ngModel)]="usuario.nome">
                </mat-form-field>
            </form>
            <section class="button">
                <section class="upload">
                    <label for="foto"></label>
                    <input type="file" class="upload-photo" (change)="salvarArquivo($event)">
                </section>
                <mat-progress-bar mode="indeterminate" value="40" *ngIf="isLoadUpload"></mat-progress-bar>
                <button mat-raised-button (click)="salvarDados(formulario)">Salvar Dados e Prosseguir</button>
            </section>
        </section>
        <h2 class="msg">Coloque nome e foto a sua escolha, ambas poderão ser alteradas posteriormente.</h2>
    </section>
</main>