* {
    padding: 0px;
    margin: 0px;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 4vh;
}

.main {
    height: 100%;
    width: 100%;

    background-position: center top;
    background-size: contain ;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

h1 { 
    width: 90vw;
    color: #fff;
    font-size: 6vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vh;
    background-color: #2D6DBE;
    border-radius: 10px;
}

.form {
    width: 90vw;
    background-color: #d3e5fc;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: solid #a5bad4;
    border-radius: 10px;
    padding: 4vw 0 4vw 0;
} 

mat-form-field {
    width: 80vw;
}

.button {
    width: 80vw;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.button button {
    margin-top: 3vh;
    background-color: #2D6DBE;
    color: white;
}

.button .upload-photo .input {
    margin-top: 3vh;
    background-color: #2D6DBE;
    color: white;
}

.msg {
    margin-top: 3vh;
    width: 80vw;
    color: rgb(201, 55, 55);
}